{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" id="body-container">
        <div class="row mt-2 faq-text" style="background-color: #fff; padding: 20px;">
            <img src="{{ asset('assets/user/img/cover.jpg') }}">
            <h4>A propos de Cryptizy</h4>
            <p style="text-align: justify">
                Depuis février 2016, Cryptizy offre un service aux particuliers qui souhaitent détenir des cryptomonnaies.<br>
                Janvier 2018, Cryptizy lance sa plateforme internet cryptizy.com pour offrir à un plus large public la possibilité d'accéder aux services de Cryptizy.<br><br>
                Les cryptomonnaies offrent des solutions nouvelles pour nos besoins quotidiens, même si la plupart restent à un stade primaire de développement,
                sans doute les cryptomonnaies auront un impact significatif sur notre société, notamment grâce à la technologie sous-jacente : la Blockchain.
            </p>
        </div>
    </div>
{% endblock %}