{% extends 'base_faq.html.twig' %}

{% block body %}
    <h3>Qu’est-ce que Cryptizy ?</h3>
    <p style="text-align: justify">
        Cryptizy est une plateforme web (et bientôt application mobile) qui vous permet d’acheter et de vendre des cryptomonnaies de manière
        simple, rapide et sécurisée. Cryptizy est considérée comme intermédiaire dans l’achat/vente de cryptomonnaies.
    </p>
{% endblock %}