{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" id="body-container">
        <div class="row" style="background-color: #fff; padding: 20px;">
            <h4>MENTIONS LÉGALES</h4>
            <p>
                Cryptizy.com plateforme détenue par <b>REPARIZY</b><br><br>

                SAS au Capital de 5 000€ Variable<br>
                <b>RCS</b> : Paris 82434138200011<br>
                <b>Directeur de la publication :</b> Salah-Eddine KHOUIEL<br>
                <b>Hébergeur :</b> OVH, 2 rue Kellermann - 59100 Roubaix - France<br><br>

                <b>Président :</b> Salah-Eddine KHOUIEL<br>
                <b>Directeur général:</b> Jonathan KABLAN<br>
                <b>Directeur général:</b> Jordan MOREIRA<br><br>

                REPARIZY SAS détient l'intégralité des droits de propriété intellectuelle relatifs aux éléments et au contenu du site cryptizy.com. Pour cette
                raison,toute utilisation de quelque nature que ce soit et/ou toute reproduction de tout ou partie d'un élément du site cryptizy.com
                constitueraient une contrefaçon.

            </p>
        </div>
    </div>
{% endblock %}