{% extends 'base_faq.html.twig' %}


{% block body %}
    <h3>Est-ce que je peux annuler ou modifier un ordre d’achat ou de vente ?</h3>
    <p style="text-align: justify">
        Du fait de la nature irréversible de la technologie des cryptomonnaies, il n’est pas possible d’annuler ou de modifier un ordre.

    </p>
{% endblock %}