{% extends 'base_faq.html.twig' %}


{% block body %}
    <h3>Pourrais-je modifier l'adresse email de mon compte Cryptizy ?</h3>
    <p style="text-align: justify">
        Pour modifier votre adresse email vous devez contact le support technique : support@cryptizy.com

    </p>
{% endblock %}