{% extends 'base_faq.html.twig' %}


{% block body %}
    <h3>Pourquoi dois-je créer un compte Cryptizy et me connecter à mon compte Cryptizy ?</h3>
    <p style="text-align: justify">
        Vous devez créer un compte Cryptizy et vous connecter pour pouvoir accéder aux services de Cryptizy, comme c’est défini dans nos Conditions
        Générales d’Utilisations. Vous êtes sur le point d’effectuer un dépôt de monnaies légales et d’acheter des cryptomonnaies, vous devez avoir
        un espace personnel pour pouvoir soumettre des ordres et suivre vos opérations.

    </p>
{% endblock %}