{% extends 'base_faq.html.twig' %}


{% block body %}
    <h3>Puis-je effectuer un dépôt en euros depuis le compte bancaire d’un ami ou d’un proche ?</h3>
    <p style="text-align: justify">
        Il n’est pas possible d’effectuer un dépôt depuis un compte bancaire ne vous appartenant pas. En effet notre activité est soumise aux requis
        en matière de lutte anti blanchiment au titre de l’article L561-2 du code monétaire et financier (7bis), de ce fait, nous sommes très strictes
        sur l’identité des Utilisateurs et l’origine des fonds.
    </p>
{% endblock %}