{% extends 'base_faq.html.twig' %}


{% block body %}
    <h3>Comment effectuer un dépôt Euro sur mon compte Cryptizy ?</h3>
    <p style="text-align: justify">
        Pour effectuer un dépôt sur votre compte Cryptizy, il faut d’abord créer et faire vérifier votre compte Utilisateur.
        À la suite de cela, dans la page <a title="Compte Utilisateur" href="{{ url('office_home') }}" target="_blank">« Tableau de bord »</a> de votre compte Utilisateur. Sous le solde disponible cliquez sur le bouton « Effectuer
        un dépôt ». Une page s’ouvre avec nos coordonnées bancaires et votre référence Utilisateur. Cette référence est nécessaire pour créditer votre
        compte, il est important de la mentionner dans le champs commentaire lors du virement, souvent appelé « libellé », « référence » ou simplement "commentaire".
        Si vous ne mentionner pas votre référence, le temps de traitement de votre dépôt sera plus long.
    </p>
{% endblock %}