{% extends 'base_faq.html.twig' %}


{% block body %}
    <h3>Pourquoi il existe différentes cryptomonnaies ?</h3>
    <p style="text-align: justify">
        Il existe autant de cryptomonnaies que de technologie Blockchain disponible. Les technologies majeures sont Bitcoin, Ethereum, Ripple,
        Zcash et Monero. Il en existe d’autres, mais une majorité des autres cryptomonnaies sont basées sur la technologie Ethereum,
        qui fournit une technologie pour permettre la décentralisation de toutes applications utiles quotidiennement.
        De ce fait nous pouvons dire qu’il existe autant de cryptomonnaies que d’usage spécifique qu’il peut y avoir.
    </p>
{% endblock %}