{% extends 'base_faq.html.twig' %}


{% block body %}
    <h3>Quelle quantité de cryptomonnaies vais-je recevoir lorsque je soumets un ordre d’achat ?</h3>
    <p style="text-align: justify">
        La quantité de cryptomonnaie que vous allez recevoir est calculé en fonction du prix du marché au moment où nous exécutons votre ordre d’achat,
        à cela nous appliquons nos frais d’achat (4%). De ce fait la quantité de cryptomonnaie que vous constaterez sur votre compte Cryptizy sera
        légèrement différente de celle que vous aurez calculé avec le montant investi divisé par le prix affiché au moment de soumettre votre ordre d’achat.

    </p>
{% endblock %}