{% extends 'base_faq.html.twig' %}


{% block body %}
    <h3>Puis-je effectuer un retrait vers le compte bancaire d’un ami ou d’un proche ?</h3>
    <p style="text-align: justify">
        Il n’est pas possible d’effectuer un retrait vers compte bancaire ne vous appartenant pas. Nous sommes encadrés par la loi anti-blanchiment des capitaux.

    </p>
{% endblock %}