{% extends 'base_faq.html.twig' %}


{% block body %}
    <h3>Est-ce que je peux retirer mon argent de Cryptizy ?</h3>
    <p style="text-align: justify">
        Oui il est possible de retirer le solde Euros disponible sur votre compte Cryptizy, pour cela il suffit d’<a href="{{ url('compte') }}">ajouter votre IBAN</a>.

    </p>
{% endblock %}