{% extends 'base_faq.html.twig' %}


{% block body %}
    <h3>Comment transférer mes cryptomonnaies vers mon Wallet ?</h3>
    <p style="text-align: justify">
        Après avoir reçu la confirmation des ordres d’achat de cryptomonnaies, rendez-vous sur la page <a href="{{ url('mes_cryptos') }}" target="_blank">« Mes cryptos »</a>, ajoutez l’adresse de Wallet
        vers lequel effectuer le transfert, ce dernier sera effectué dans les 24h selon l’état de réseau s’il est encombré (transfert lent) ou
        s’il est libre (transfert rapide).

    </p>
{% endblock %}