{% extends 'base_faq.html.twig' %}


{% block body %}
    <h3>Combien de temps faut-il à mon dépôt pour être crédité sur mon compte Cryptizy ?</h3>
    <p style="text-align: justify">
        Il faut compter 1 à 2 jours ouvrés pour recevoir vos fonds sur notre compte bancaire et 2 à 3 jours ouvrés supplémentaires pour que vos fonds
        soient disponibles sur le marché d’échange des cryptomonnaies.
    </p>
{% endblock %}