{% extends 'base_faq.html.twig' %}


{% block body %}
    <h3>Pourquoi mon compte doit-il être vérifié avant de pouvoir effectuer des opérations sur Cryptizy ?</h3>
    <p style="text-align: justify">
        Notre activité est soumise aux requis en matière de lutte anti blanchiment au titre de l’article L561-2 du code monétaire et financier (7bis).
        Notre activité est donc encadrée par la loi, de ce fait, nous sommes très strictes sur la vérification de l’identité des Utilisateurs et de
        l’origine des fonds.

    </p>
{% endblock %}