{% extends 'base_faq.html.twig' %}


{% block body %}
    <h3>Pourquoi dois-je créer un compte Cryptizy et me connecter à mon compte Cryptizy ?</h3>
    <p style="text-align: justify">
        Après avoir créé votre compte Cryptizy et avoir confirmé l’inscription en cliquant sur l’email de confirmation, vous pourrez <a href="{{ url('login') }}">vous connecter</a>
        à votre compte Cryptizy. A la suite de cela, vous serez invité à vous rendre sur la page <a href="{{ url('verif') }}">« Mes vérifications »</a>. Sur cette page vous devez
        renseigner votre adresse de domicile, télécharger une pièce d’identité et un justificatif de domicile. Nos équipes effectuerons la vérification
        de votre profil dans un délai de 24h. Un email vous sera envoyé lorsque votre est validé.

    </p>
{% endblock %}