{% extends 'base_faq.html.twig' %}


{% block body %}
    <h3>Qu’est-ce qu’un Wallet ?</h3>
    <p style="text-align: justify">
        Un Wallet est composé d'une clé publique (adresse du Wallet) et d'une clé privée (mot de passe cryptographique complexe), il vous permet de stocker
        vos cryptomonnaies de manière sécurisée car vous êtes la seule personne à détenir la clé privée. Pour une personne qui souhaite garder ses
        cryptomonnaies pour le long terme c'est la meilleure option qui existe. En ce qui concerne les personnes qui souhaitent revendre leurs cryptomonnaies
        dans le court terme, la personne devra transférer ses cryptomonnaies vers une plateforme d'échange ou de vente de cryptomonnaies (comme Cryptizy)
        et c'est seulement lorsque les cryptomonnaies sont disponibles qu'elle peut soumettre un ordre de vente.<br><br>
        <b>Avantage du wallet :</b> la sécurité.
        <b>Inconvénient :</b> le temps et le manque de réactivité.
    </p>
{% endblock %}