{% extends 'base_faq.html.twig' %}


{% block body %}
    <h3>Qu’est-ce qu’une Cryptomonnaie ?</h3>
    <p style="text-align: justify">
        La cryptomonnaie est une monnaie alternative 100 % virtuelle ; contrairement aux billets et aux pièces, elle n'a aucune forme physique.
        Générée par un logiciel open source et des internautes (appelés « mineurs », nous y reviendrons), cette monnaie cryptée peut être utilisée
        uniquement par la personne détenant le code de décryptage, qui peut être un mot de passe, une empreinte digitale, etc. Comme n'importe quelle
        monnaie traditionnelle, elle peut servir à effectuer des achats, des virements, des transactions financières ou du stockage de valeur. Il est
        possible d'échanger ces actifs contre des biens, des services, de l'argent (euros, dollars…) via des plateformes d'échange en ligne. <i>(Source : https://www.lesnumeriques.com/vie-du-net/qu-est-qu-cryptomonnaie-a3357.html)</i>
    </p>
{% endblock %}